<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
  <form [formGroup]="usuarioForm" (ngSubmit)="isCreate ? crearUsuario(): actualizarUsuario()" novalidate>
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>{{ titleForm }} Usuario</mat-card-title>
      </mat-card-header>
        <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput #id  placeholder="Identificación" formControlName="id">    
              </mat-form-field>
              <mat-error *ngIf="usuarioForm.controls['id'].hasError('required')">
                Idenfificación es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="usuarioForm.controls['id'].hasError('pattern')">
                La idenfificación no es válida
              </mat-error>
              </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput #id  placeholder="Nombre" formControlName="nombre">    
            </mat-form-field>
            <mat-error *ngIf="usuarioForm.controls['nombre'].hasError('required')">
              Nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="usuarioForm.controls['nombre'].hasError('pattern')">
              Nombre no cumple el formato
            </mat-error>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput #id  placeholder="Primer apellido" formControlName="apellido1">    
            </mat-form-field>
            <mat-error *ngIf="usuarioForm.controls['apellido1'].hasError('required')">
                Primer apellido es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="usuarioForm.controls['apellido1'].hasError('pattern')">
              Primer apellido no cumple el formato
            </mat-error>
            </div>
        </div>
           
        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput #id  placeholder="Segundo apellido" formControlName="apellido2">    
            </mat-form-field>
            <mat-error *ngIf="usuarioForm.controls['apellido2'].hasError('required')">
                Segundo apellido es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="usuarioForm.controls['apellido2'].hasError('pattern')">
              Segundo apellido no cumple el formato
            </mat-error>
            </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput #id  placeholder="Email" formControlName="email">    
          </mat-form-field>
          <mat-error *ngIf="usuarioForm.controls['email'].hasError('required')">
              Email es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="usuarioForm.controls['email'].hasError('pattern')">
            Email no cumple el formato
          </mat-error>
          </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'contrasena' : 'text'" placeholder="Contraseña usuario" formControlName="contrasena" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide contrasena'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
         <mat-error *ngIf="errorHandling('contrasena', 'required')">
            Password es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        </div>
      </div>

        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput #id  placeholder="Teléfono" formControlName="telefono">    
            </mat-form-field>
            <mat-error *ngIf="usuarioForm.controls['telefono'].hasError('required')">
                Teléfono es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="usuarioForm.controls['telefono'].hasError('pattern')">
                Teléfono no cumple el formato
            </mat-error>
            </div>
        </div>
  

        <div class="row" *ngIf="isAutenticated && currentUser.user.rol === 'administrador'">
            <div class="col" *ngIf="sedesList">
                <mat-form-field class="full-width">
                  <mat-select placeholder="Sede" formControlName="idSede">
                    <mat-option *ngFor="let s of sedesList" [value]="s.id">
                      {{ s.nombre }}
                    </mat-option>
                  </mat-select>            
                </mat-form-field>
              </div>
        </div>

          <div class="row" *ngIf="isAutenticated && currentUser.user.rol === 'administrador'">
              <div class="col" *ngIf="rolesList">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Rol" formControlName="rol">
                      <mat-option *ngFor="let r of rolesList" [value]="r">
                        {{ r | rolPipe }}
                      </mat-option>
                    </mat-select>            
                  </mat-form-field>
                </div>
          </div>
  
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" type="submit">Guardar</button>
        </mat-card-actions>
    </mat-card>
  </form>
  