
<div class="H" style="width:100%; height:90%; align-content: center; margin: 0 auto;background-image:url(../../../assets/IMG/food.jpg);background-size:100%;background-repeat:no-repeat; background-attachment: fixed; background-position: center center; " >
    <div  style="float:left; top: 50%; background-color: antiquewhite;" class="titulo">
      <h1 style="left: 50%; position: absolute; top: 75%; font-style:italic;font-family:Brush; color: white;">El verdadero sabor Italiano...</h1>
      
    </div>
    <div></div>

</div>

    


