
<div id="contenedor" style="width:70%; height:5%; align-content: center; margin: 0 auto; margin-top: 12px;" >
    <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile style="border-radius:10%;" ><img src="../../../assets/IMG/fondo1.jpg" alt=""></mat-grid-tile>
    <mat-grid-tile style="border-radius:10%;"><img src="../../../assets/IMG/fondo2.jpg" alt=""></mat-grid-tile>
  </mat-grid-list>

 <h2 style="text-align:center; font-style:italic;font-family:Brush Script MT;font-weight: bold; font-size:5em;margin-top: 20px;">Desde Italia para Costa Rica</h2>
</div>

    


