

<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="primary">close</mat-icon>
</button>
<form [formGroup]="mesaForm" (ngSubmit)="isCreate ? crearMesa(): actualizarMesa()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ titleForm }} Mesa</mat-card-title>
    </mat-card-header>
      <mat-card-content>

        <input type="hidden" formControlName="id" />
        
          <div class="row" *ngIf="isCreate === true">
            <div class="col">
              <mat-form-field class="full-width">
        <input  matInput #codigo  placeholder="Codigo" formControlName="codigo">    
      </mat-form-field>
            </div>
        </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput #capacidad  placeholder="Capacidad" formControlName="capacidad">    
           
            <mat-error *ngIf="mesaForm.controls['capacidad'].hasError('required')">
              Capacidad es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="mesaForm.controls['capacidad'].hasError('pattern')">
              Capacidad no cumple el formato
            </mat-error>
          </mat-form-field>
            </div>
        </div>
         

        <div class="row">
            <div class="col" *ngIf="sedesList">
                <mat-form-field class="full-width">
                  <mat-select placeholder="Sede" formControlName="idSede">
                    <mat-option *ngFor="let s of sedesList" [value]="s.id">
                      {{ s.nombre }}
                    </mat-option>
                  </mat-select>            
                </mat-form-field>
              </div>
        </div>

             

        <div class="row">
        <div class="col" *ngIf="estadosList">
            <mat-form-field class="full-width">
              <mat-select placeholder="Estado" formControlName="estado">
                <mat-option *ngFor="let e of estadosList" [value]="e">
                  {{ e | estadosMesaPipe}}
                </mat-option>
              </mat-select>            
            </mat-form-field>
          </div>
    </div>

      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent" type="submit">Guardar</button>
      </mat-card-actions>
  </mat-card>
</form>
