<div class="grid-container">
  <div id="contenedor-titulo">
    <h1>Productos</h1> 
    <br>
    <button mat-fab color="primary" (click)="agregarProducto()" >
      <mat-icon>add</mat-icon>
    </button>
</div>
    <mat-grid-list [cols]="3" rowHeight="35em" gutterSize="12px" *ngIf="datos" style="text-align:center;">
      <mat-grid-tile *ngFor="let item of datos" >
        <mat-card class="dashboard-card">
          <mat-card-header class="mat-card-header">
           <mat-card-title class="mat-card-title">
              {{item.descripcion}}
            </mat-card-title>
          </mat-card-header>
          <img mat-card-lg-image src="{{item.imagenURL}}" alt="imagen" style="margin: 0 auto ;" >
          <mat-card-content class="dashboard-card-content">
            <div>
              Precio: {{
               item.precio | currency: "USD" 
            }}</div>
          </mat-card-content>
          <mat-card-content class="dashboard-card-content">
            <div> Ingredientes:{{
              item.ingredientes 
            }}</div>
          </mat-card-content>
          <mat-card-content class="dashboard-card-content">
            <div>{{
              item.categoria
            }}</div>
          </mat-card-content>
          <mat-card-content class="dashboard-card-content">
            <p>Disponible en:</p>
            <div *ngFor="let sede of item.sedes"> {{sede.nombre}}</div>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button
                mat-mini-fab
                matTooltip="Actualizar Producto"
                aria-label="Actualizar Producto"
                color="primary"
                (click)="actualizarProducto(item.id)"
              >
                <mat-icon class="mat-18">edit</mat-icon>
              </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>