.example-card {
    max-width: 400px;
  }
  
  .dashboard-card{
    background-color:#292a31;
  }

  .dashboard-card-content{
    text-align: center;
    font-family: 'Cinzel', serif;
    color: #FFFFFF ;
    font-size: medium;
  }
  .mat-card-title {
    color: #FFFFFF ;
    font-family: 'Cinzel', serif;
  }
  h1 {
    display: inline-block ;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    color: #ce2b37;
    border-bottom: 3px solid #009246;
   }
   #contenedor-titulo {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  