<div style="justify-content: center; text-align: center; height: 80%;width: 100%; margin-bottom:1 em;" >
    <h1>Acerca de Nosotros</h1>
    <h2 style="font-size:x-large; font-family:Lucida Bright ;">Historia</h2>
    <p style="font-size:medium;font-family:Lucida Bright ;">Somos un restaurante con sede en Costa Rica, pero provenientes de Italia específicamente de 
        la región de Milán, <br> con la llegada a este país trajimos varias comidas y bebidas para servir
        a los costarricenses para que experimenten el sabor de Europa </p>

   <h2 style="font-size:x-large;font-family:Lucida Bright ;">Contacto</h2> 
   <p style="font-size:medium;font-family:Lucida Bright ;">Para reservar tambien puedes llamar: 506 7451-2322</p>
   <h3>En caso de problema con la pagina</h3>
   <p style="font-size:medium;font-family:Lucida Bright ;">Puede contactar a nuestros desarrolladores  </p>
   <p style="font-size:medium;font-family:Lucida Bright ;">Gary Barahona Varela</p>
   <p style="font-size:medium;font-family:Lucida Bright ;">Heiner Solis Jimenez</p>
   <img  style="margin-bottom:1em;" src="../../../assets/IMG/logo2.PNG" alt="">
   
</div>