<div>
    <h1>Acerca de Nosotros</h1>
    <h2>Historia</h2>
    <p>Somos un restaurante con sede en Costa Rica, pero provenientes de Italia específicamente de
        la región de Milán, con la llegada a este país trajimos varias comidas y bebidas para servir
        a los costarricenses para que experimenten el sabor de Europa </p>

   <h2>Visatanos</h2> 
   <p>En la provincia de Alajuela aun costado de la Universidad Técnica Naional</p>
   <img src="../../../assets/IMG/Logo.png" alt="">
   
</div>