
@use '@angular/material' as mat;

@include mat.core();

// GAMA COLORES

$my-primary-color: (
    50 : #e1e1e2,
    100 : #b3b4b6,
    200 : #818286,
    300 : #4f4f56,
    400 : #292a31,
    500 : #03040d,
    600 : #03030b,
    700 : #020309,
    800 : #020207,
    900 : #010103,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$my-accent-color: (
    50 : #e0f2e9,
    100 : #b3dec8,
    200 : #80c9a3,
    300 : #4db37e,
    400 : #26a262,
    500 : #009246,
    600 : #008a3f,
    700 : #007f37,
    800 : #00752f,
    900 : #006320,
    A100 : #93ffac,
    A200 : #60ff84,
    A400 : #2dff5d,
    A700 : #14ff49,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-warn-color: (
    50 : #f9e6e7,
    100 : #f0bfc3,
    200 : #e7959b,
    300 : #dd6b73,
    400 : #d54b55,
    500 : #ce2b37,
    600 : #c92631,
    700 : #c2202a,
    800 : #bc1a23,
    900 : #b01016,
    A100 : #ffe0e0,
    A200 : #ffadaf,
    A400 : #ff7a7d,
    A700 : #ff6064,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// PALETA DE COLORES

$my-primary: mat.define-palette($my-primary-color, 400);
$my-accent: mat.define-palette($my-accent-color, 500);
$my-warn: mat.define-palette($my-warn-color, 500);


//CREAR TEMA
$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

// APLICAR NUESTRO TEMA A ANGULAR
@include mat.all-component-themes($my-theme);