<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="primary">close</mat-icon>
</button>

<div id="contenedorTitulo">
  <h3>Procesar pago</h3>
</div>
<section class="example-section">
  <p>Metodos de pago:</p>
  <mat-checkbox class="example-margin" (change)="reactiveForm()"  [(ngModel)]="efectivo">Efectivo</mat-checkbox>
  <mat-checkbox class="example-margin" (change)="reactiveForm()" [(ngModel)]="tarjeta">Tarjeta</mat-checkbox>
</section>
<form [formGroup]="formulario" (ngSubmit)="procesarPago()" novalidate>    
       <section *ngIf="efectivo">
        <h4>Efectivo</h4>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Monto</mat-label>
          <input matInput type="text" placeholder="Monto" formControlName="montoEfectivo" />
          <mat-error *ngIf="errorHandling('montoEfectivo', 'required')">
             Monto es <strong>requerido</strong>
           </mat-error>
           <mat-error *ngIf="errorHandling('montoEfectivo', 'pattern')">
            Monto no cumple con el formato
          </mat-error>
          </mat-form-field>
          </div>
        </div>
        <p *ngIf="!tarjeta">Cambio: ₡{{calcularVuelto()}}</p>
        </section>
        <section *ngIf="tarjeta">
          <h4>Tarjeta</h4>
         
          <img id="logosTarjeta" src="../../../assets/IMG/Logos_Tarjetas_de_Credito.png" alt="logos">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Número de tarjeta</mat-label>
          <input  matInput type="text" placeholder="Número de tarjeta" formControlName="numero" />
          <mat-error *ngIf="errorHandling('numero', 'required')">
             Número de tarjeta es <strong>requerido</strong>
           </mat-error>
           <mat-error *ngIf="errorHandling('numero', 'pattern')">
            Número de tarjeta no válido
          </mat-error>
          </mat-form-field>
            </div>
          </div>
           <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Monto</mat-label>
            <input matInput type="text" placeholder="Monto" formControlName="montoTarjeta" />
            <mat-error *ngIf="errorHandling('montoTarjeta', 'required')">
               Monto es <strong>requerido</strong>
             </mat-error>
             <mat-error *ngIf="errorHandling('montoTarjeta', 'pattern')">
              Monto no cumple con el formato
            </mat-error>
            </mat-form-field>
        </div>
          </div>
        </section>
        <p>Sub total: ₡{{subTotal}}</p>
        <p>IVA: ₡{{iva}}</p>
        <p>Total a pagar: ₡{{total}}</p>
        <button mat-raised-button color="accent" type="submit">Pagar</button>
    </form>
