<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="primary">close</mat-icon>
</button>
<div *ngIf="datos">
<h2 mat-dialog-title id="titulo-detalle">Comanda</h2>

<mat-dialog-content class="encabezado">
<p *ngFor="let item of datos">Nombre de reserva: {{item.usuario.nombre}} {{item.usuario.apellido1}} {{item.usuario.apellido2}}</p>
<p *ngFor="let item of datos"> Estado Actual: {{item.estado | comandaPipe}}</p>
<mat-dialog-content style="width: 100%; display: inline-flex; text-align: left;" >
  <p *ngFor="let item of datos">Observaciones del pedido: {{item.nota}}</p>
  <button
                style=" background-color:#F19D49; margin-left: 1%; height: 30px; "
                mat-flat-button
                matTooltip="Nota de Comanda"
                aria-label="Nota de Comanda"
                color="#F19D49"
                (click)="editarNota(idComandaMesa)"
              >
              <p style="font-size: 14px; margin-bottom: 1%;">Editar Observación</p> 
              </button>
</mat-dialog-content>
</mat-dialog-content>
  <mat-dialog-content>
    <div class="mat-elevation-z8"   
    *ngIf="dataSource"
    >
      <table mat-table [dataSource]="dataSource"
       class="full-width-table"  matSort
       matSortStart="desc" aria-label="Elements">
        <!-- Columna Cedula -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre del Producto</th>
          <td mat-cell *matCellDef="let row">{{ row.producto.descripcion }}</td>
        </ng-container>

        <!-- Columna Nombre -->
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de producto</th>
          <td mat-cell *matCellDef="let row">{{ row.producto.categoria | productoPipe}}</td>
        </ng-container>
        <!-- Columna Apellido1 -->
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
          <td mat-cell *matCellDef="let row">{{ row.cantidad }}</td>
        </ng-container>
         <!-- Columna Apellido1 -->
         <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
          <td mat-cell *matCellDef="let row">{{ row.producto.precio }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button
              style="background-color:#F19D49;"
              mat-mini-fab
              matTooltip="Actualizar Usuario"
              aria-label="Actualizar Usuario"
              color="#F19D49"
              (click)=" borrarDetalle(idComandaMesa,row.producto.id)"
            >
              <mat-icon class="mat-18">remove</mat-icon>
            </button>
          </td>
        </ng-container>
      </table>
      
      <mat-paginator
      #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="3"
      [pageSizeOptions]="[3, 5, 10]"
      aria-label="Seleccione una pagina"
    >
    </mat-paginator>
      
    </div>
  </mat-dialog-content>

<mat-dialog-content class="footerComanda">
  <ul >Sub Total:¢{{subtotal}}</ul>
  <ul >IV:¢ {{iv}}</ul>
  <ul >Total:¢{{Total}}</ul>
</mat-dialog-content>

<mat-dialog-actions *ngFor="let item of datos">
  <button  mat-flat-button color="warn" aria-label="Comanda"  title="Comanda" (click)="traerProductos(idComandaMesa)" >
    Agregar Producto
  </button> 
  <button mat-flat-button color="accent" (click)="pagar(item.id)" >
    Comprar
    <mat-icon>shopping_bag</mat-icon> 
    </button>
</mat-dialog-actions>
</div>