<mat-card >
  <mat-card-title>
   <p>Usuarios</p> 
   <button id="boton-agregar" mat-mini-fab color="accent" aria-label="Agregar"  title="Agregar mesa"  (click)="crearUsuario()" >
    <mat-icon>add_circle</mat-icon>
  </button> 
  </mat-card-title><!-- Title of an Card -->
    
    <mat-card-content>
      <div class="mat-elevation-z8"   
      *ngIf="dataSource"
      >
        <table mat-table [dataSource]="dataSource"
         class="full-width-table"  matSort
         matSortStart="desc" aria-label="Elements">
          <!-- Columna Cedula -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cedula</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>
  
          <!-- Columna Nombre -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
          </ng-container>
          <!-- Columna Apellido1 -->
          <ng-container matColumnDef="apellido1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido1</th>
            <td mat-cell *matCellDef="let row">{{ row.apellido1 }}</td>
          </ng-container>
           <!-- Columna Apellido1 -->
           <ng-container matColumnDef="apellido2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido2</th>
            <td mat-cell *matCellDef="let row">{{ row.apellido2 }}</td>
          </ng-container>
           <!-- Columna Telefono -->
           <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
            <td mat-cell *matCellDef="let row">{{ row.telefono }}</td>
          </ng-container>
          <!-- Columna rol -->
          <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
            <td mat-cell *matCellDef="let row">{{ row.rol | rolPipe }}</td>
          </ng-container>
          <!-- Columna sede -->
          <ng-container matColumnDef="sede">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sede</th>
            <td mat-cell *matCellDef="let row">{{ row.sede.nombre}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Actualizar</th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-mini-fab
                matTooltip="Actualizar Usuario"
                aria-label="Actualizar Usuario"
                color="accent"
                (click)="actualizarUsuario(row.id)"
              >
                <mat-icon class="mat-18">edit</mat-icon>
              </button>
            </td>
          </ng-container>
        </table>
  
        <mat-paginator
          #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[3, 5, 10]"
          aria-label="Seleccione una pagina"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
