<div id="contenedor-titulo">
    <h1>Productos Disponibles </h1>
</div>
<div id="contenedor-form">
    <form [formGroup]="sedesForm">
      <div id="contenedor-select-sedes" *ngIf="visible">
        <h4>Sede:</h4>
    <mat-form-field appearance="fill" color="accent">
        <mat-label>Sede</mat-label>
        <mat-select  formControlName="sede" (selectionChange)="onChanges()">
          <mat-option *ngFor="let sede of sedesList" [value]="sede.id">
            {{sede.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    </form>
 </div>
 <div class="productos">
 <mat-card *ngFor="let producto of productosList" color="primary"class="example-card">
  <mat-card-header class="mat-card-header">
    <mat-card-title class="mat-card-title"> {{producto.descripcion}}</mat-card-title>
  </mat-card-header>
  <img  mat-card-image class="imagen-card" src="{{producto.imagenURL}}" alt="Foto mesa">
  <mat-card-content>
    <p>
      Precio ¢: {{producto.precio}}<br>
    </p>
    <p>Ingredientes: {{producto.ingredientes}}</p>
    <p>Categoria: {{producto.categoria}}</p>
  </mat-card-content>
  <mat-card-actions class="mat-card-actions">
    <button mat-flat-button color="accent" aria-label="Detalles"  title="Ver más detalles" (click)=" detalleDeComanda(producto.id)" >
      Ordenar
    </button>
  </mat-card-actions>
</mat-card>
</div>
<mat-dialog-actions class="boton" *ngIf="!visible" >
  <button  mat-flat-button color="warn" aria-label="Comanda"  title="Comanda" (click)="volverAMesas()"  >
   Volver a la comanda
  </button> 
</mat-dialog-actions>


