<form [formGroup]="productoForm" novalidate (ngSubmit)="isCreate ? crearProducto(): actualizarProducto()">
    <input type="hidden" formControlName="id"/>
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>{{titleForm}} Producto</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Descripcion" formControlName="descripcion">
              <mat-error *ngIf="productoForm.controls['descripcion'].hasError('required')">
                Descripción es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Precio"  formControlName="precio">
              <mat-error *ngIf="productoForm.controls['precio'].hasError('required')">
                Precio es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="productoForm.controls['precio'].hasError('pattern')">
                Capacidad no cumple el formato
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="ingredientes" formControlName="ingredientes">
              <mat-error *ngIf="productoForm.controls['ingredientes'].hasError('required')">
               Ingredientes es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="imagenURL" formControlName="imagenURL">
              <mat-error *ngIf="productoForm.controls['imagenURL'].hasError('required')">
                La dirección de la imagen <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width" >
                    <mat-label>Categoria de Producto</mat-label>
                    <mat-select formControlName="categoria">
                      <mat-option value="platoPrincipal">Plato Principal</mat-option>
                      <mat-option value="bebida">Bebida</mat-option>
                      <mat-option value="entrada">Entrada</mat-option>
                    </mat-select>
             </mat-form-field>
            </div>
          </div>
        <div class="row">
          <div class="col" *ngIf="sedesList">
            <mat-form-field class="full-width">
              <mat-select placeholder="Sedes" formControlName="sedes" multiple>
                <mat-option *ngFor="let g of sedesList" [value]="g.id">
                  {{ g.nombre }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productoForm.controls['sedes'].hasError('required')">
                Sedes es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-label>Publicar</mat-label>
            <mat-radio-group formControlName="estado">
              <mat-radio-button [value]="true">Disponible</mat-radio-button>
              <mat-radio-button [value]="false">No Disponibe</mat-radio-button>            
            </mat-radio-group>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <button mat-raesed-button color="primary" type="submit">Guardar</button>
          <mat-button-toggle *ngIf="isCreate" (click)="onReset()">Limpiar</mat-button-toggle>
          <mat-button-toggle (click)="onBack()">Cancelar</mat-button-toggle>
        </mat-button-toggle-group>
        <!-- <button mat-raesed-button color="primary" type="submit">Guardar</button> -->
      </mat-card-actions>
    </mat-card>
  </form>
