
<div id="contenedor-titulo">
    <h1>Mesas sede central </h1>
</div>


<div class="contenedor-cards">
    <mat-card color="primary"class="example-card">
        <mat-card-header class="mat-card-header">
          <mat-card-title class="mat-card-title">Mesa 01</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="imagen-card" src="../../../assets/IMG/Mesa.jpg" alt="Foto mesa">
        <mat-card-content>
          <p>
            Capacidad: 4 personas<br>
          </p>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
            <button mat-raised-button  color = "accent"> Reservar </button> 
        </mat-card-actions>
      </mat-card>

      <mat-card color="primary"class="example-card">
        <mat-card-header class="mat-card-header">
          <mat-card-title class="mat-card-title">Mesa 02</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="imagen-card" src="../../../assets/IMG/Mesa ocupada.jpg" alt="Foto mesa">
        <mat-card-content>
          <p>
            Capacidad: 2 personas<br>
          </p>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
            <button  mat-raised-button color = "warn"> Ocupado </button> 
        </mat-card-actions>
      </mat-card>

      <mat-card color="primary"class="example-card">
        <mat-card-header class="mat-card-header">
          <mat-card-title class="mat-card-title">Mesa 03</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="imagen-card" src="../../../assets/IMG/Mesa.jpg" alt="Foto mesa">
        <mat-card-content>
          <p>
            Capacidad: 4 personas<br>
          </p>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions">
            <button mat-raised-button  color = "accent"> Reservar </button> 
        </mat-card-actions>
      </mat-card>

      <div class="contenedor-cards">
        <mat-card color="primary"class="example-card">
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">Mesa 04</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="imagen-card" src="../../../assets/IMG/Mesa.jpg" alt="Foto mesa">
            <mat-card-content>
              <p>
                Capacidad: 4 personas<br>
              </p>
            </mat-card-content>
            <mat-card-actions class="mat-card-actions">
                <button mat-raised-button  color = "accent"> Reservar </button> 
            </mat-card-actions>
          </mat-card>
    
          <mat-card color="primary"class="example-card">
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">Mesa 05</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="imagen-card"  class="imagen-card" src="../../../assets/IMG/Mesa.jpg" alt="Foto mesa">
            <mat-card-content>
              <p>
                Capacidad: 4 personas<br>
              </p>
            </mat-card-content>
            <mat-card-actions class="mat-card-actions">
                <button mat-raised-button  color = "accent"> Reservar </button> 
            </mat-card-actions>
          </mat-card>
    
          <mat-card color="primary"class="example-card">
            <mat-card-header class="mat-card-header">
              <mat-card-title class="mat-card-title">Mesa 06</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="imagen-card" src="../../../assets/IMG/Mesa ocupada.jpg" alt="Foto mesa">
            <mat-card-content>
              <p>
                Capacidad: 4 personas<br>
              </p>
            </mat-card-content>
            <mat-card-actions class="mat-card-actions">
                <button  mat-raised-button color = "warn"> Ocupado </button>  
            </mat-card-actions>
          </mat-card>
</div>
