
<div id="contenedor-titulo">
    <h1>Gestión de mesas </h1>
</div>
<div *ngIf="isAutenticated" id="contenedor-form">
<form [formGroup]="sedesForm">
  <div id="contenedor-select-sedes" *ngIf="currentUser.user.rol === 'administrador'||currentUser.user.rol === 'cliente'">
    <h4>Sede:</h4>
<mat-form-field appearance="fill" color="accent">
    <mat-label>Sede</mat-label>
    <mat-select  formControlName="sede" (selectionChange)="onChange()">
      <mat-option *ngFor="let sede of sedesList" [value]="sede.id">
        {{sede.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
</form>
<button *ngIf="currentUser.user.rol === 'administrador'" id="boton-agregar" mat-mini-fab color="accent" aria-label="Agregar"  title="Agregar mesa"  (click)="crearMesa()" >
  <mat-icon>add_circle</mat-icon>
</button> 
</div>


<div  class="contenedor-cards" *ngIf="mesasList && isAutenticated" >

  <mat-card *ngFor="let mesa of mesasList" color="primary"class="example-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title"> {{mesa.codigo}}</mat-card-title>
    </mat-card-header>
    <img  mat-card-image class="imagen-card" src="../../../assets/IMG/Mesa.jpg" alt="Foto mesa">
    <mat-card-content>
      <p>
        Capacidad: {{mesa.capacidad}} personas<br>
      </p>
      <p>Estado: {{mesa.estado | estadosMesaPipe}}</p>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions">
        <button mat-mini-fab color="accent" aria-label="Detalles"  title="Ver más detalles"   (click)="detalleMesa(mesa.id)">
          <mat-icon>description</mat-icon>
        </button> 
        <button *ngIf="currentUser.user.rol === 'administrador'" mat-mini-fab color="accent" aria-label="Editar"  title="Editar"   (click)="actualizarMesa(mesa.id)">
          <mat-icon>edit</mat-icon>
        </button> 
        <button  *ngIf="mesa.estado === 'libre'" mat-mini-fab color="accent" aria-label="Reservar"  title="Reservar"   (click)="reservarMesa(mesa.codigo, mesa.id)">
          <mat-icon>edit_note</mat-icon>
        </button> 
      <!--- <ng-container *ref="isReservaCancelable(mesa.id)"
        <button  *ngIf="mesa.estado === 'reservada' && currentUser.user.rol === 'administrador' || mesa.estado === 'reservada' && currentUser.user.rol === 'cliente'" mat-mini-fab color="warn" aria-label="Cancelar reserva"  title="Cancelar reserva"   (click)="reservarMesa(mesa.codigo, mesa.id)">
          <mat-icon>block</mat-icon>
        </button> 
      </ng-container>--> 
        <button   *ngIf="mesa.estado != 'libre' && currentUser.user.rol === 'administrador' ||  mesa.estado != 'libre' && currentUser.user.rol === 'mesero'" mat-mini-fab color="accent" aria-label="Comanda"  title="Comanda"   (click)="verComanda(mesa.id)">
          <mat-icon>restaurant</mat-icon>
        </button> 
    </mat-card-actions>
  </mat-card>
 
</div>


